/*
    =Fonts
*/
@font-face {
    font-family: "Gilroy";
    src: url(../fonts/Gilroy-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "Gilroy";
    src: url(../fonts/Gilroy-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "Gilroy";
    src: url(../fonts/Gilroy-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: "Gilroy";
    src: url(../fonts/Gilroy-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Gilroy";
    src: url(../fonts/Gilroy-Thin.ttf);
    font-weight: 100;
}

/*
    =Resets
*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea {
    font: inherit;
}

/*
    =Variables
*/

:root {
    /*
        =Fonts
    */
    --FF: "Gilroy", sans-serif;
    --FS: clamp(1rem, 2.2vh, 1.5rem);

    /*
        =Colors
    */
    --PRIMARY-COLOR: #413cd6;
    --PRIMARY-LIGHT-COLOR: #0baaf3;
    --SECONDARY-COLOR: #16165d;
    --SECONDARY-COLOR-LIGHT: #212172;
    --BORDER-COLOR-BUTTON: #5351cc;
    --FONT-COLOR: #ffffff;
    --FONT-SECONDARY-COLOR: #08fbb1;
    --BUTTON-BG: #ffffff;

    /*
        =Borders
    */
    --BORDER-BUTTON: 0.4rem solid var(--BORDER-COLOR-BUTTON);
    --BORDER-RADIUS-BUTTON: 2rem;
    --BORDER-PRIMARY-LIGHT: 1px solid var(--PRIMARY-LIGHT-COLOR);
    --BORDER-RADIUS: 15px;

    /*
        =Standard Paddings
    */
    --PADDING-TB: 1em;
    --PADDING-SIDE: 2.5%;

    /*
        =Standard Margins
    */
    --MARGIN: clamp(1em, 2.5vh, 1.5em) 0;
}

/*
    =Utility classes
*/
.offscreen {
    position: absolute;
    left: -10000px;
}

.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}

/*
    =General Styles
*/
html {
    scroll-behavior: smooth;
    font-size: var(--FS);
    font-family: var(--FF);
    background-color: var(--PRIMARY-COLOR);
}

body {
    color: var(--FONT-COLOR);
    min-height: 100vh;
    max-width: 100vw;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

article {
    padding: 0 5rem;
    margin: 4rem 0;
}

table,
th,
td {
    border: 1px solid grey;
    border-collapse: collapse;
}

a:any-link {
    color: var(--FONT-COLOR);
}

a:hover,
a:focus-visible {
    color: var(--FONT-SECONDARY-COLOR);
}

a:active {
    color: var(--FONT-SECONDARY-COLOR);
}

.arrow {
    margin-right: 1rem;
}

.arrow:hover {
    margin-right: 0.5rem;
}

.logo {
    width: 100px;
}

.btn {
    background-color: var(--BUTTON-BG);
    border: var(--BORDER-BUTTON);
    border-radius: var(--BORDER-RADIUS-BUTTON);
    height: 3rem;
    padding: 0.5rem 1rem;
    font-weight: 700;
    color: var(--SECONDARY-COLOR);
}

.btn:hover {
    background-color: var(--BORDER-COLOR-BUTTON);
    color: var(--FONT-COLOR);
}

.btn-secondary {
    background-color: var(--BUTTON-BG);
    border: none;
    border-radius: var(--BORDER-RADIUS-BUTTON);
    height: 3rem;
    padding: 0.5rem 1.5rem;
    font-weight: 400;
    color: var(--SECONDARY-COLOR);
}

.heartbeat-btn {
    margin: 0 auto;
    width: 3vw;
    height: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.2rem solid var(--BORDER-COLOR-BUTTON);
    border-radius: 0.8vw;
}

/*
    =Header
*/

.header {
    display: flex;
    justify-content: space-between;
    padding: var(--PADDING-TB) 5rem;
}

.header__nav {
    display: flex;
    gap: 1rem;
}

.header__button {
    margin-left: 1.5rem;
}

.header__ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    gap: clamp(1rem, 6vw, 4rem);
    padding: var(--PADDING-TB) 0;
    font-weight: 500;
}

.header__ul li:hover .arrow {
    margin-right: 0.5rem;
}

/*
    =Hero
*/

.hero-image {
    width: 800px;
    position: relative;
    top: 30px;
    left: -150px;
}

.hero {
    padding: 0 5rem;
    display: flex;
}

.hero__h1 {
    font-size: 5rem;
    font-weight: 500;
}

.box-text {
    width: 80%;
    color: var(--FONT-SECONDARY-COLOR);
    border: var(--BORDER-PRIMARY-LIGHT);
    border-style: dotted;
    border-radius: var(--BORDER-RADIUS);
    padding: var(--PADDING-SIDE);
}

.hero__p {
    margin: var(--MARGIN) 0;
    width: 40%;
    font-size: var(--FS);
}

.hero__dashboard {
    width: 100%;
    margin: var(--MARGIN) 0;
}

.hero__content figure {
    position: relative;
}

.hero__content figure p {
    color: var(--FONT-SECONDARY-COLOR);
    font-size: clamp(1rem, 2.2vw, 3rem);
    font-weight: 500;
    position: absolute;
    top: 33%;
    right: 7%;
}

/*
    =Remaining Hero
*/

.remaining-hero img {
    width: 100%;
}

.remaining-hero figure {
    position: relative;
}

.remaining-hero figure p {
    color: var(--FONT-SECONDARY-COLOR);
    font-size: clamp(1rem, 2.8vw, 4rem);
    font-weight: 500;
    position: absolute;
    top: 27%;
    right: 7%;
}

.remaining-hero .article__h1 {
    font-size: clamp(2rem, 6vw, 7rem);
    font-weight: 500;
    padding: var(--PADDING-SIDE);
}

.remaining-hero .btn-secondary {
    display: block;
    margin: 0 auto;
    width: clamp(24rem, 25vw, 28rem);
    text-transform: uppercase;
    position: relative;
}

.remaining-hero .btn-secondary::before {
    content: url(../images/beat.png);
    position: absolute;
    top: 0px;
    left: 5px;
}

.remaining-hero .btn-secondary::after {
    content: url(../images/beat.png);
    position: absolute;
    top: 0px;
    right: 5px;
}

/*
    =Working Process
*/
.working-process {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--FONT-COLOR);
}

.working-process .article__h2 {
    text-align: center;
    font-size: clamp(1rem, 4vw, 3.5rem);
    font-weight: 500;
    color: var(--SECONDARY-COLOR);
}

.working-process .article__h2 .btn {
    font-size: var(--FS);
}

/*
    =About Impilo
*/

.about-summary {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: var(--SECONDARY-COLOR-LIGHT);
    display: flex;
    gap: 0.2rem;
}

.title-leftside {
    background-color: var(--SECONDARY-COLOR);
    padding-left: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.title-box {
    width: 80%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--SECONDARY-COLOR-LIGHT);
    padding: var(--PADDING-TB) 0;
}

.user-box {
    background-color: var(--SECONDARY-COLOR-LIGHT);
    border-radius: 5px;
    padding: 0.5rem;
    box-shadow: 0 0 7px #000000;
}

.serial {
    font-size: 0.8rem;
    color: var(--FONT-SECONDARY-COLOR);
}

.title-box__h2 {
    font-weight: 700;
    font-size: clamp(1rem, 2vw, 2.5rem);
}

.title-box__p {
    font-size: clamp(0.5rem, 1vw, 2rem);
}

.title-box__highlight {
    color: var(--FONT-SECONDARY-COLOR);
}

.images-rightside {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.images-rightside img {
    width: 50%;
}

.image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: var(--SECONDARY-COLOR);
    border-radius: 1.5rem;
    margin: 1rem;
}

/*
    =Services
*/

.services-homepage {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5rem;
    background-color: var(--FONT-COLOR);
    color: var(--SECONDARY-COLOR);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.heartbeat-btn img {
    width: 80%;
}

.services-homepage__h2 {
    text-align: center;
    font-size: clamp(2rem, 4vw, 6rem);
    font-weight: 700;
}

.services-homepage__p {
    margin: 1.8rem auto;
    text-align: center;
    font-weight: 500;
    font-size: clamp(1rem, 2.5vh, 2rem);
    width: 35%;
    letter-spacing: -1px;
}

.services-homepage__table {
    margin: 0 auto;
    width: 25%;
    border-style: hidden;
    box-shadow: 0 0 3px grey;
    border-radius: 15px;
}

.services-homepage__table img {
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
}

.services-homepage__p-small {
    margin: 0 auto;
    margin-top: 1rem;
    text-align: center;
    font-weight: 700;
    font-size: clamp(0.5rem, 1.8vh, 2rem);
    width: 30%;
    letter-spacing: -1px;
}

/*
    =Certification
*/

.certification {
    margin-top: 0;
    margin-bottom: 0;
    background-color: var(--FONT-COLOR);
    padding: 8rem;
}

.blue-box {
    background-color: var(--SECONDARY-COLOR);
    padding: 5rem;
    border-radius: 20px;
}

.certification__h2 {
    margin: 0 auto;
    margin-bottom: 3rem;
    font-size: clamp(2rem, 4vw, 6rem);
    font-weight: 700;
    text-align: center;
    width: 50%;
}

.certification__p {
    font-size: clamp(0.5rem, 2vh, 1.5rem);
    width: 50%;
    margin: 0 auto;
    margin-bottom: 3rem;
    font-weight: 500;
    text-align: center;
}

.certification__table {
    margin: 0 auto;
    width: 95%;
}

.certification__table img {
    width: 10vw;
    margin: 0 auto;
    padding: 2rem 1rem;
}

/*
    =Comments homepage
*/

.comments-homepage {
    margin: 0;
    background-color: var(--FONT-COLOR);
    padding: 5rem;
    color: var(--SECONDARY-COLOR);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comments-homepage .comment {
    font-size: clamp(1rem, 2vw, 2.2rem);
    font-weight: 500;
    width: 75%;
    text-align: center;
    margin-bottom: 2rem;
}

.comments-homepage .user-image {
    background-color: #f5f5f5;
    padding: 1rem;
    margin: 0 auto;
    border: 1px solid #d8d8d8;
    border-radius: 50%;
    margin-bottom: 0.5rem;
}

.comments-homepage .user-name {
    font-weight: 500;
    font-size: clamp(0.5rem, 1.2vw, 2rem);
}

.comments-homepage .user-title {
    font-weight: 400;
    font-size: clamp(0.4rem, 1vw, 1.8rem);
}

/*
    =Integration
*/

.integration {
    margin: 0;
    padding: 5rem;
    background-color: var(--FONT-COLOR);
    color: var(--SECONDARY-COLOR);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    text-align: center;
}

.integration__h2 {
    font-size: clamp(2rem, 4vw, 6rem);
    font-weight: 700;
    width: 50%;
}

.integration__image-box {
    width: 80%;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

.integration__image-box img {
    width: 40%;
}

.integration__image-box .box {
    border: 1px solid var(--SECONDARY-COLOR-LIGHT);
    border-radius: var(--BORDER-RADIUS);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.integration__h3 {
    font-size: clamp(0.5rem, 1.4vw, 2rem);
    font-weight: 500;
}

.integration__p {
    text-align: center;
    font-weight: 400;
    font-size: clamp(0.5rem, 1.8vh, 2rem);
    width: 24.8%;
}

/*
    =Virtual Care
*/

.virtual-care {
    margin: 0;
    padding: 8rem 5rem;
    background-color: var(--FONT-COLOR);
    color: var(--SECONDARY-COLOR);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    text-align: center;
}

.virtual-care__h2 {
    font-size: clamp(2rem, 4vw, 6rem);
    font-weight: 700;
    width: 80%;
}

/*
    =Footer
*/

.footer {
    margin: 0;
    padding: 5rem;
    padding-bottom: 0;
}

.footer-box {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 1rem;
}

.footer__h1 img {
    width: 200px;
}

.footer__p {
    font-size: 0.8rem;
}

.footer__nav {
    display: flex;
    gap: 1rem;
}

.footer__button {
    margin-left: 1.5rem;
}

.footer__ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    gap: clamp(1rem, 5vw, 3rem);
    padding: var(--PADDING-TB) 0;
    font-weight: 500;
}

.footer__ul li:hover .arrow {
    margin-right: 0.5rem;
}

hr {
    border: 0.1px solid rgba(252, 252, 252, 0.087);
    margin-bottom: 6px;
}

.footer__links {
    width: 50%;
    float: right;
}

.links__ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    gap: clamp(1rem, 5vw, 3rem);
    padding: var(--PADDING-TB) 0;
    font-weight: 500;
    font-size: clamp(0.5rem, 0.5vw, 1.5rem);
}
